@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Public+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.heading {
  display: none;
}
.msgs {
  display: flex;
  justify-content: center;
}
h1 {
  font-weight: 700;
  font-size: 2rem;
  padding: 1rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

li {
  padding: 0.6rem 1.3rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.13);
  border-radius: 0.7rem;
  width: 24%;
  gap: 4rem;
  background: white;
}

li div {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.lds-dual-ring {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  align-self: center;
}
.lds-dual-ring:after {
  content: " ";
  display: flex;
  justify-content: center;
  align-self: center;
  width: 70px;
  height: 70px;
  margin: 8px;
  border-radius: 50%;
  border: 8px solid #fff;
  border-color: rgb(151, 20, 20) transparent rgb(54, 170, 190) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 5rem;
  padding: 5rem;
  display: none;
}

.noProducts {
  display: none;
  text-align: center;
}
